<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name</p>
  <h4><%= @user.name %></h4>
  <p>introduction</p>
  <h4><%= @user.introduction %></h4>
  <p><%= link_to "編集",edit_user_path %></p>
</div>

<p>User info</p>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p><%= image_tag 'no_image.jpg' %></p>
  <%= link_to book_path(book.id) do %>
    <p><%= book.title %></p>
  <% end %>
  <p><%= book.body %></p>
  <p><%= book.user.name %></p>
</div>
<% end %>


<h2>New book</h2>
<%= render 'books/list', book: @book %>