<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-4" style="background-color: orange;">
      <%= render 'list', book: @book %>
    </div>

    <div class="col-lg-8">
      <h1>Books</h1>
      <% @books.each do |book| %>
      <div>
        <%= image_tag book.user.get_profile_image(100,100) %>
        <p><%= image_tag 'no_image.jpg' %></p>
        <%= link_to book_path(book.id) do %>
        <p><%= book.title %></p>
      <% end %>
        <p><%= book.body %></p>
        <p><%= book.user.name %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>